.notice-board {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    font-family: 맑은 고딕, Arial, sans-serif;
  
  }
  
  .notice-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom:  1rem;
  }
  
  .notice-card {
    background: #f9f9f9;
    border:  0.0625rem solid #ddd;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }
  
  .notice-title-text {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .notice-date {
    font-size: 1.2rem;
    color: #999;
    margin-bottom: 0.625rem;
  }
  
  .notice-content {
    font-size: 1.6rem;
    color: #333;
  }
  
  .divider {

    height:  0.0625rem;
    background-color: #ddd;
    margin-top: 2.5rem;  
    margin-bottom: 2.5rem;  /* 아래쪽 간격 */
    
  }

  .load-more-button {
    display: block;
    margin: 0.625rem auto;
    padding: 0.625rem 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
  }
  
  .load-more-button:hover {
    background-color: #0056b3;
  }


  @media only screen and (max-width: 960px) {
    .notice-board {
        padding-top: 3.2rem;
        margin-top: 3.2rem
      
      }
    .notice-title {
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
    }

    .notice-title-text {
        font-size: 1.6rem;
    }

    .notice-content {
        font-size: 1.4rem;
        color: #333;
      }

}